<div class="have_login" style="position:absolute;top:10px;right:10px;color:white;">
         <% if @user!=nil %>
            <span>已登录！</span>
         <% else %>
            <span>未登录！</span>
         <% end %>
      </div>
<h1>最新推荐</h1>
<ul>
    <% @books.each do |book| %>
        
        <li><a href="/books/<%= book.id %>"><%= book.name %>(<%= book.author %>)&nbsp&nbsp<%= book.created_at %></a>
        [<i><a href="/books/<%= book.id %>/delete">Delete</a></i>]
        </li>
    <% end %>
</ul>
