
<h1>最新推荐</h1>
<ul>
    <% @books.each do |book| %>
        
        <li><a href="/books/<%= book.id %>"><%= book.name %>(<%= book.author %>)&nbsp&nbsp<%= book.created_at %></a>
        [<i><a href="/books/<%= book.id %>/delete">Delete</a></i>]
        </li>
    <% end %>
</ul>
