<h1 class="new_title">我要推书</h1>
<%= form_for(@book,:url=>{:action=>'create'}) do |f| %>
     <% if @book.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@book.errors.count, "error") %> prohibited
	      this book from being saved:</h2>
	    <ul>
	    <% @book.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
    <% end %>
    <p><b>书名</b><br /><%= f.text_field :name %></p>
    <p><b>作者</b><br /><%= f.text_field :author %></p>
    <p><b>出版社</b><br /><%= f.text_field :publish %></p>
    <p><b>内容简介</b><br /><%= f.text_area :abstract %></p>

    <p>
	  <%= f.label :上传图书图片 %><br />
	  <%= f.file_field :picture_url %>
	  <%= f.hidden_field :picture_url_cache %>
	</p>
    <p><%= f.submit "推荐该书" %></p>
    
<% end %>