
<p>
    <b>书名：</b><%= @book.name %>
</p>

<p>
    <b>作者：</b><%= @book.author %>
</p>

<p>
    <b>出版社：</b><%= @book.publish %>
</p>
<p>
    <b>内容简介：</b><%= @book.abstract %>
</p>

<p>
    <img src="<%= @book.picture_url %>"  style="width:120px;height:160px;" />
</p>


