
<p>
    <b>书名：</b><%= @book.name %>
</p>

<p>
    <b>作者：</b><%= @book.author %>
</p>

<p>
    <b>出版社：</b><%= @book.publish %>
</p>
<p>
    <b>内容简介：</b><%= @book.abstract %>
</p>

<p>
    <%= image_tag @book.picture_url_url.to_s %>
</p>




